.index_container {
  min-height : calc(100vh - 100px);
  max-width : 100vw;
  display: flex;
  padding-top: 50px;
}

.side_bar {
  width: 20vw;
  background-color: #9e9eae;
  font-size: 20px;
}

.side_bar_wrapper {
  margin: 30px;
}

.side-title {
  font-weight: bold;
  margin-bottom: 5px;
}

/* 画面上部:検索バー*/
.search_bar {
  padding: 50px;
  
  border-bottom:1px solid #333333;
  display: flex;
}

.search_parent {
  margin: 0 auto
  display: flex;
  flex-wrap: wrap;
  width:60vw;
 
 
}

.search_sons{
  padding: 5px;
  margin:0 5px ;
  align-items: center;
  flex:1 0 50%;
  border: none;
}

.btn_parent{
  display: flex;
  flex-direction: column-reverse;
  margin-left:50px;
}

.search_btn {
  
  justify-content: center;
  border-radius: 10%;
  box-sizing: border-box;
  width: 120px;
  height: 50px;
  padding: 5px;
  background-color: #333333;
  color:white;
  font-weight: bold;
  cursor: pointer;
}

/*画面中央部：在庫一覧*/

.index_headline {
  text-align: center;
  margin:30px 0;
  font-size: 36px;
}

.search_results {
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-wrap : wrap;
}

.search_failed{
  font-weight: bold;
}

.car_item {
  padding: 20px;
  margin: 30px;
  background-color: #e0e0e0;
  position: relative;
}

.car_img{
  width: 300px;
  height: 200px;
}

/* タグのデザイン */
.car_tag_2 {
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -30px;
  background-color: #fdd735;
  text-align: center;
}
.car_tag_3 {
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -30px;
  background-color: #7384e5;
  text-align: center;
}
.car_tag_4 {
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -30px;
  color: white;
  background-color: #da0928;
  text-align: center;
}

.car_tag_5 {
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -30px;
  background-color: #18d47a;
  text-align: center;
}

.car_tag_6 {
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -30px;
  background-color: #73cce5;
  text-align: center;
}

.car_tag_7 {
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -30px;
  background-color: #dce573;
  text-align: center;
}

.car_tag_8 {
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -30px;
  background-color: #e57b73;
  text-align: center;
}

.car_tag_9 {
  padding: 10px;
  border-radius: 50%;
  color: #e0e0e0;
  position: absolute;
  top: -10px;
  left: -30px;
  background-color: #2a2727;
  text-align: center;
}

.car_info_main {
  display: flex;
  justify-content:space-between ;
  font-size: 25px;
  font-family: 'Roboto Condensed', sans-serif;
}

.car_info_link {
  display: block;
  padding: 3px;
  margin-top: 10px;
  text-align: center;
  background-color: #616161;
  text-decoration:none;
  color: white;
}

