/***********登録フォーム全体******************************/
.form_main{
  height: 100vh;
  width: 100vw;
}
/***********登録フォーム全体******************************/


/***********画像アップロード*******************************/

/*画像アップロード画面全体*/
.image_post{
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: end;
}

/*画像アップロードボタンデザイン*/
.custom-file-label{
  background-color: gray; /* ボタンの背景色 */
  color: #fff; /* ボタンのテキスト色 */
  font-size: 10px; /* ボタンのフォントサイズ */
  padding: 5px 10px; /* ボタンの内側の余白 */
  border: none; /* ボタンの枠線を削除 */
  border-radius: 10px; /* ボタンの角丸 */
  cursor: pointer; /* ポインターを指す形にする */
}

/*画像アップロードボタン配置*/
.up_btn{
  display: flex;
  justify-content: center;
  align-items:center;
}

/*画像アップロードボタンスタイル*/
.custom-file-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items:end;
}

/* 画像プレビューを横に並べるためのスタイル */
#previews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px; /*画像間の間隔を調整 */
}

.preview{
  display:block;
  justify-content: center;
  align-items: center;
}

/* 画像プレビューの大きさ */
.preview-image{
  margin: 0px 100px 0px 0px;
}

/* プレビュー枚数(6枚上限)テキスト */
.caveat_text{
  display: flex;
  justify-content: center;
  align-items: center;
}

.caveat_text{
  font-weight: bold;
}

/***********画像アップロード*******************************/



/**********登録情報入力*********************************/
      .registration_screen{
        display: flex;
        justify-content: center;
        height: calc(100% - 50%);
      }
      /**********登録情報入力(左側)*********************************/
      .reft_registration{
        width: 280px;
      }
      /**********登録情報入力(左側)*********************************/


      /**********登録情報入力(中央)*********************************/
      .middle_registration{
        width: 300px;
      }
      /**********登録情報入力(右側)*********************************/
      .right_registration{
        width: 300px;
      }

      .wheel_tag{
        display: flex;
        justify-content: space-between;
      }

      .price-text{
        font-size: 30px;
        width: 150px;
        height: 60px;
        font-weight: bold;
      }    
      
      .unit{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
      }            
      /**********登録情報入力(右側)*********************************/
/**********登録情報入力*********************************/

      /*各々の入力項目配置*/
      .registration_box{
        display: flex;
      }

      /*各々の入力項目のタイトル*/
      .item{
        font-size: 15px;
        font-weight: bold;
      }

      /*登録するボタン配置*/
      .registration_btn_box{
        display: flex;
        justify-content: center;
      }
      /*登録するボタンデザイン*/
      .registration_btn{
        width: 180px;
        border-radius: 10px;
        background-color: #333333;
        color: white;
        text-align: center;
        cursor: pointer;
      }